$background: #E9E9E9;
$text-color: #000000;
$content-background: #F2F2F2;
$input-background: #e1e1e1;
$red-indicator: #D2222D;
$yellow-indicator: #FFBF00;
$green-indicator: #238823;
$gray-indicator: #B5B5B5;